body{
  font-family: Arial, sans-serif;
  background: linear-gradient(to right,#4facfe,#00f2fe);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

form{
  background:#fff;
  padding:25px;
  width:350px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

fieldset{
  border:none;
}

legend{
  text-align:center;
  font-size:20px;
  font-weight:bold;
  margin-bottom:15px;
}

input[type="text"],
input[type="password"],
select{
  width:100%;
  padding:8px;
  border-radius:8px;
  border:1px solid #ccc;
  outline:none;
  transition:0.3s;
}

input:focus, select:focus{
  border-color:#4facfe;
  box-shadow:0 0 5px #4facfe;
}

button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#4facfe;
  color:#fff;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#00c6ff;
}
